$text-color: #FFFFFF;
$base-font-size: 16px;
$base-font-family: "Proxima Regular";
$base-font-weight: 400;


$color-background: #F5F5F5;
$color-main: #FFF;
$color-active: #FFF;
$color-link: #FFF;

$button-height: 27px;
$button-width: 35px;

.paddingTop25 {
    padding-top: 25px;
}

.padding0 {
    padding-left: 0px;
    padding-right: 0px;
}
